---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>QR Demo 1</title>
	</head>
	<body class="text-center font-bold text-3xl">
		QR1
		<img src="/images/qr1.png" class="mx-auto">
		<p>&nbsp;</p>
		QR2
		<img src="/images/qr2.png" class="mx-auto">
		<p>&nbsp;</p>
		QR3
		<img src="/images/qr3.png" class="mx-auto">
	</body>
</html>
